
<button type="button" class="btn btn-primary">Primary</button>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur voluptas enim eligendi, dolorem tempora hic ipsa quam similique inventore accusantium debitis voluptatum iusto, ullam dolorum blanditiis neque, eos aperiam at!</p>

